#salary-information {
  padding: 2.5% 2.5%;
  height: 100vh;
  background-color: $whitesmoke;

  .salary-card {
    height: 100%;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 16px;
  }
}
