header {
  position: relative;
  z-index: 100;
  background-color: $dark-blue;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin: 0px;

    svg {
      font-size: 28px;
      fill: #ffffff;
    }

    li {
      display: flex;
      font-size: 18px;
      cursor: pointer;
      z-index: 2;

      a {
        color: #ffffff;
      }
    }
  }

  &.home {
    background-color: $light-blue;
    position: unset;
    svg {
      fill: $dark-blue;
    }

    a {
      padding: 0.3rem;
      color: $dark-blue;

      &:hover {
        color: $dark-blue;
        font-weight: bold;
      }
    }
  }
}
