#find-jobs {
  background-color: $whitesmoke;
  #header {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $dark-blue;
    height: 80px;
    border-top: 0.5px solid $grey;

    .header-icon {
      border: 1px solid $grey;
      border-radius: 50%;
      padding: 8px;
      fill: #ffffff;
    }

    .ant-select {
      width: 100%;
    }

    .vl {
      border-left: 0.5px solid $grey;
      height: 40px;
    }

    .header-range-container {
      width: 25%;
      color: #ffffff;
      letter-spacing: 0.1rem;

      .ant-slider-rail {
        background-color: $grey;
      }
      .ant-slider-track {
        background-color: $blue;
      }
    }

    /** antd */
    .ant-select-selection-item {
      color: #ffffff;
      font-weight: $fw-light;
      letter-spacing: 0.1rem;
    }
    .ant-input::placeholder {
      color: $grey;
      font-weight: $fw-light;
    }
    .ant-select-selection-placeholder {
      color: $grey;
      font-weight: $fw-light;
      letter-spacing: 0.1rem;
    }

    .ant-select-arrow {
      color: $grey;
    }
  }

  .job-lists {
    width: 100%;

    .job-card {
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      margin: 8px;
      height: 100%;
      border-radius: 16px;
      padding: 16px;

      .card-background {
        box-sizing: border-box;
        height: 80%;
        padding: 16px;
        margin-bottom: 16px;
        border-radius: 16px;

        .chips {
          color: white;
          background-color: $dark-blue;
          padding: 4px 16px;
          border-radius: 16px;
        }
      }
    }

    .card-skeleton {
      background-color: #f0f0f0;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      background-color: #efefef;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      margin: 8px;
      height: 100%;
      border-radius: 16px;
      padding: 16px;
    }

    .skeleton-footer,
    .skeleton-body {
      background: linear-gradient(90deg, #e3e3e3 25%, #efefef 50%, #e3e3e3 75%);
      background-size: 200% 100%;
      animation: shimmer 2.5s infinite;
    }

    .skeleton-footer {
      box-sizing: border-box;
      height: 15%;
      padding: 16px;
      margin-bottom: 16px;
      border-radius: 16px;
    }

    .skeleton-body {
      box-sizing: border-box;
      height: 80%;
      padding: 16px;
      margin-bottom: 16px;
      border-radius: 16px;
      height: 80%;
    }

    @keyframes shimmer {
      0% {
        background-position: -200% 0;
      }
      100% {
        background-position: 200% 0;
      }
    }
  }
}
