#info,
#work-history,
#work-summary,
#education,
#skills,
#summary {
  position: relative;
  section {
    box-sizing: border-box;
    padding: 2rem;
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
    height: calc(100vh - 275px);

    label {
      font-weight: $fw-dark;
      font-size: 16px;
    }

    .submit {
      position: absolute;
      bottom: 0px;
      right: 48px;
      height: 56px;
      font-size: 16px;
    }
  }
}
