#info,
#work-history,
#work-summary,
#education,
#skills,
#summary {
  position: relative;
  section {
    position: relative;
    margin: 0 auto;
    width: 50vw;
    height: calc(100vh - 275px);

    label {
      font-weight: $fw-dark;
      font-size: 16px;
    }

    button[type="submit"] {
      position: absolute;
      bottom: 0px;
      right: 0px;
      height: 56px;
      font-size: 16px;
    }
  }
}
