#skills {
  section {
    .search-container {
      padding: 8px;
      height: 566px;

      .select {
        display: block;
      }

      .data {
        height: 496px;
        overflow-y: scroll;
      }
    }

    .inputs-container {
      padding: 20px;
      height: 566px;
      border-radius: 8px;
      background-color: $whitesmoke;
      overflow-y: scroll;
    }
  }
}
