.text-editer-container {
  height: 60px;
  .ql-toolbar {
    border: 2px solid $d-blue;
    border-radius: 15px 15px 0px 0px;

    button {
      display: flex;
      justify-content: end;

      svg {
      }
    }
  }

  .ql-container {
    border: 2px solid $d-blue;
    border-radius: 0px 0px 15px 15px;
    .ql-editor {
      letter-spacing: 0.1rem;
    }
  }
  button {
    min-width: 80px !important;
  }
}
