.ant-btn-primary {
  background-color: $dark-blue;
  box-shadow: unset;
}

.ant-col {
  min-height: unset;
}

.custom-input {
  height: 56px;
}

.ant-picker {
  width: 100%;
  height: 56px;
  &:hover {
    border: 1.5px solid $dark-blue;
  }
  &:focus {
    border: 1.5px solid $dark-blue;
    box-shadow: unset;
  }
}
