/** 顏色 */
$dark-blue: #141413;
$d-blue: #012643;
$blue: #0766bc;
$light-blue: #ebf6ff;
$whitesmoke: whitesmoke;
$grey: #80808073;
$light-yellow: #f5efe4;

/** Font Weight */
$fw-dark: 700;
$fw-semi-dark: 500;
$fw-normal: 400;
$fw-light: 200;
