/** 顏色 */
// #141413
// #012643
// #ebf6ff
// #dde7ef
$dark-blue: #141413;
$blue: #0766bc;
$light-blue: #ebf6ff;
$whitesmoke: whitesmoke;
$grey: #80808073;
$light-yellow: #f5efe4;

/** Font Weight */
$fw-dark: 700;
$fw-normal: 400;
$fw-light: 200;
